* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #0303038e;
}

#form {
    width: 350px;
    height: 400px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
}

.input,
.btn {
    max-width: 200px;
    width: 100%;
    padding: 4px 8px;
}

.clc{
    max-width: 200px;
    width: 100%;
    height: 45px;
    /* border: 1px solid red; */
}
.required:after {
    bottom: 0;
    left: 0;
    content: "Login hamda parol kiritilmagan!";
    color: red;
    background-color: #fff;
    font-size: .7em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s;
}

.required2::after{
    bottom: 0;
    left: 0;
    content: "Foydalanuvchi malumotlari topilmadi!";
    color: red;
    background-color: #fff;
    font-size: .7em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s;
}


/* ------------------ Create akkaunt uchun ---------------------- */
.required-login:after{
    bottom: 0;
    left: 0;
    content: "Your login name is not valid!";
    color: red;
    background-color: #fff;
    font-size: .7em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s;
}
.required-password:after{
    bottom: 0;
    left: 0;
    content: "Foydalanish uchun yaroqsiz!";
    color: red;
    background-color: #fff;
    font-size: .7em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s;
}
/* ------------------ end ---------------------- */


#form div {
    max-width: 200px;
    width: 100%;
    display: block;
}

.content {
    padding-left: 0px;  
}

.content:last-child {
    padding-top: 4px;
}
.content:last-child a {
    color: rgb(6, 158, 175);
}

.btn {
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    margin-top: 16px;
}